@import url("fonts/GeorgiaPro/style.css");

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: 'Georgia Pro';
}
.centrado {
    max-width: 960px;
    margin: 0 auto;
}

#navegacion {
    padding-right: 36px;
}
.content {
    padding: 0;
}
.header, .footer {
    background-color: #333333;
}
.title {
    color: #c0bab6;
}
nav li {
    list-style-type: none;
}
nav a {
    background-color: #232323;
    color: #c0bab6;
    text-decoration: none;
    
}
nav a:hover {
    color: #9a9592;
}
nav > ul {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding: 3rem;
}
ul > li {
    padding: 1em;
    background-color: #232323;
    color: #c0bab6;
}
.section {
    color: #979797;
}
.section h2 {
    font-style: italic;
}
.article a{
    text-align: right;
}
.footer p {
    color: #919191;
}
a {
    text-decoration: none;
}
.dorado {
    color: #ff9900;
}
.dorado:hover {
    color: #b76b00;
}
.footer #a {
    background-color: #232323;
    padding-bottom: 78px;
    
}
.sin-padding {
    padding-left: 0;
    padding-right: 0;
}