.imagen {
    width: 150px;
    margin: 0 auto;
    animation: rotar 5s linear;
}
.contenedor {
    /* margin-top: 200px; */
    border: 2px solid;
    border-radius: 100px;
    width: 500px;
    height: 50px;
    margin: 50px auto;
    overflow: hidden;
}
.progreso {
    height: 50px;
    width: 0px;
    background-color: blue;
    animation: progress_bar 5s linear forwards;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
@keyframes rotar {
    0% {
        
    }
    80% {
        transform: rotate(680deg); 
    }
    82% {
        /* transform: rotate(50deg);  */
    }
    100% {
        transform: rotate(720deg);
    }
}
@keyframes progress_bar {
    0% {
        width: 0px;
    }
    26.6% {
        width: 133px;
        background-color: blue;
    }
    53.3% {
        width: 266px;
        background-color: yellow;
    }
    80% {
        width: 400px;
        background-color: orange;
    }
    82% {
        width: 100px;
        background-color: red;
    }
    100% {
        width: 500px;
        background-color: green;
    }
}